# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: da6abc3ad355fe478f3bb66353bcb0aa3acf1265e69b062c46a70d0e54298b7740dcfd9a52e8b34acc34fdee3c8a6fc6f96402ac3f3eec8b4cb409a9fe725612

test:
  secret_key_base: 623a1eef32bfe65a72bf2aaa963e88286ec20896f571f97597755ac9a583ef0f9c2523da513d494e1aac604a5d99a0c43bb8a9982f836cb0237aa8ab6a7bd40b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
